version: '3.7'
services:
  gitlab:
    image: 'gitlab/gitlab-ce:18.9.0-ce.0'
    container_name: 'my-gitlab'
    restart: always
    hostname: 'localhost'
    network_mode: 'host'
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        external_url 'https://ec2-18-204-206-10.compute-1.amazonaws.com'
        pages_external_url 'http://ec2-18-204-206-10.compute-1.amazonaws.com'

        gitlab_pages['enable'] = true
        letsencrypt['contact_emails'] = ['onion@crimsonscallion.com']
        alertmanager['admin_email'] = 'onion@crimsonscallion.com'
        gitlab_rails['gitlab_shell_ssh_port'] = 222
        # Add any other gitlab.rb configuration here, each on its own line
        gitlab_rails['ldap_enabled'] = true
        gitlab_rails['ldap_host'] = '${LDAP_HOST}'
        gitlab_rails['ldap_base'] = '${LDAP_BASE}'
        gitlab_rails['ldap_port'] = ${LDAP_PORT}
        gitlab_rails['ldap_uid'] = '${LDAP_UID}'
        gitlab_rails['ldap_method'] = '${LDAP_METHOD}' # 'ssl' or 'plain'
        gitlab_rails['ldap_bind_dn'] = '${LDAP_BIND_DN}'
        gitlab_rails['ldap_password'] = '${LDAP_PASSWORD}'
        gitlab_rails['ldap_allow_username_or_email_login'] = true
        
    volumes:
      - './gitlab-data/config:/etc/gitlab'
      - './gitlab-data/logs:/var/log/gitlab'
      - './gitlab-data/data:/var/opt/gitlab'